body {
  margin: 0;
  padding: 0;
  color: white;
  font-family: "Merriweather", serif;
}

.glassmorphism {
  background: rgba(255, 255, 255, 0.07);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(3.1px);
  -webkit-backdrop-filter: blur(3.1px);
  border: 1px solid rgba(255, 255, 255, 0.3);
}

/* Remove background from the scrollbar track */
.glassmorphism::-webkit-scrollbar {
  width: 0.3vw;
}

/* Remove background from the scrollbar handle */
.glassmorphism::-webkit-scrollbar-track {
  background-color: transparent;
}

.glassmorphism::-webkit-scrollbar-thumb {
  background-color: gray;
  border-radius: 6px;
}